<!-- app/templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="max-w-4xl mx-auto text-gray-300">
    <h1 class="text-3xl md:text-4xl font-bold text-center mb-8 text-gray-100"
        style="-webkit-text-stroke: 1px black; text-stroke: 1px black; text-shadow: 2px 2px 4px #000000;">Welcome to
        Armed Forces Command and Staff College (AFCSC)
        Quality Assurance Portal</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-zinc-800 rounded-lg shadow-md p-6 text-center border border-zinc-700">
            <h2 class="text-2xl font-semibold mb-4 text-gray-100">Submit a Suggestion</h2>
            <p class="mb-6 text-gray-400">Share your ideas or feedback to help enhance professional military education
                at AFCSC</p>
            <a href="{{ url_for('main.submit_suggestion') }}"
                class="inline-block bg-green-700 text-white px-6 py-2 rounded-lg hover:bg-green-800 transition-colors">
                Make a Suggestion
            </a>
        </div>

        <div class="bg-zinc-800 rounded-lg shadow-md p-6 text-center border border-zinc-700">
            <h2 class="text-2xl font-semibold mb-4 text-gray-100">Administrative Access</h2>
            <p class="mb-6 text-gray-400">Authorized personnel can view and manage suggestions</p>
            <a href="{{ url_for('main.login') }}"
                class="inline-block bg-gray-700 text-white px-6 py-2 rounded-lg hover:bg-gray-800 transition-colors">
                Admin Login
            </a>
        </div>
    </div>

    <h1 class="text-1xl font-bold text-center mb-8 text-gray-100"
        style="padding: 3rem; -webkit-text-stroke: 1px black; text-stroke: 1px black; text-shadow: 2px 2px 4px #000000;">
        Disclaimer: Be assured that every suggestion, complaint, or comment submitted through this portal is reviewed
        and followed up accordingly.</h1>
</div>
{% endblock %}